<ng-container *ngIf='page == "default"'>

    <ng-container *ngIf="initialised; else initialising">

        <div class="card-body m-0 p-0">

            <h5 class="card-title">Basic Details</h5>
            <h6 class="card-subtitle mb-3 text-muted">Please select the logical structure's parent-child relationship
            </h6>

            <!-- Separator -->
            <div class="bd-highlight">
                <hr class="m-0 mt-2 mb-3 p-0 ">
            </div>


            <form [formGroup]="logicalStructuresForm" class="p-0 m-0">

                <div class="d-flex flex-column bd-highlight">

                    <div class="bd-highlight">
                        <div class="input-group flex-nowrap mb-2">
                            <div class="input-group-prepend pb-0">
                                <label class="input-group-text" id="schemeName">Scheme</label>
                            </div>
                            <ng-container formGroupName="scheme">
                                <input type="text" class="form-control input-group-input" id="schemeName" placeholder=""
                                    formControlName="schemeName" disabled="">
                            </ng-container>
                            <div class="input-group-append pb-0">
                                <button type="button" class="btn btn-button-bg-color-1 selector-button"
                                    data-toggle="tooltip" data-placement="top" title="Choose the target logical scheme"
                                    (click)="openSchemeSelector()">
                                    <fa-icon [icon]='["fas", "bullseye"]'></fa-icon>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="errors.get('scheme')" class="alert alert-danger mb-2" role="alert">
                            {{errors.get('scheme')}}
                        </div>
                    </div>

                    <div class="bd-highlight">
                        <div class="input-group flex-nowrap mb-2">
                            <div class="input-group-prepend pb-0">
                                <label class="input-group-text" id="parentTypeName">Parent</label>
                            </div>
                            <ng-container formGroupName="parentType">
                                <input type="text" class="form-control input-group-input" id="parentTypeName"
                                    placeholder="" formControlName="parentTypeName" disabled="">
                            </ng-container>
                            <div class="input-group-append pb-0">
                                <button type="button" class="btn btn-button-bg-color-1 selector-button"
                                    data-toggle="tooltip" data-placement="top"
                                    title="Choose the parent administrative unit type"
                                    (click)="openParentLogicalElementTypeSelector()">
                                    <fa-icon [icon]='["fas", "bullseye"]'></fa-icon>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="errors.get('parentType')" class="alert alert-danger mb-2" role="alert">
                            {{errors.get('parentType')}}
                        </div>
                    </div>

                    <div class="bd-highlight">
                        <div class="input-group flex-nowrap mb-2">
                            <div class="input-group-prepend pb-0">
                                <label class="input-group-text" id="subsidiaryTypeName">Subsidiary</label>
                            </div>
                            <ng-container formGroupName="subsidiaryType">
                                <input type="text" class="form-control input-group-input" id="subsidiaryTypeName"
                                    placeholder="" formControlName="subsidiaryTypeName" disabled="">
                            </ng-container>
                            <div class="input-group-append pb-0">
                                <button type="button" class="btn btn-button-bg-color-1 selector-button"
                                    data-toggle="tooltip" data-placement="top"
                                    title="Choose the subsidiary administrative unit type"
                                    (click)="openSubsidiaryLogicalElementTypeSelector()">
                                    <fa-icon [icon]='["fas", "bullseye"]'></fa-icon>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="errors.get('subsidiaryType')" class="alert alert-danger mb-2" role="alert">
                            {{errors.get('subsidiaryType')}}
                        </div>
                    </div>

                </div>

            </form>

        </div>

    </ng-container>


    <ng-template #initialising>

        <div class="d-flex justify-content-center m-1">
            <p class="text-center processing">
                <span>.</span><span>.</span><span>.</span>
            </p>
        </div>

    </ng-template>

</ng-container>

<ng-container *ngIf='page == "schemes"' class="p-0 m-0">

    <div class="card-body m-0 p-0">

        <h5 class="card-title">Scheme</h5>
        <h6 class="card-subtitle mb-3 text-muted">Please choose the logical scheme</h6>

        <!-- Separator -->
        <div class="bd-highlight">
            <hr class="m-0 mt-2 mb-3 p-0 ">
        </div>

        <sb-logical-schemes-records-selection [selectionMode]="'single'" [selected]="getSchemeId()? [getSchemeId()]: []"
            (select)="onSelectScheme($event)">
        </sb-logical-schemes-records-selection>

    </div>

</ng-container>


<ng-container *ngIf='page == "parent-types"' class="p-0 m-0">

    <div class="card-body m-0 p-0">

        <h5 class="card-title">Parent</h5>
        <h6 class="card-subtitle mb-3 text-muted">Please choose the parent logical element type (optional if toplevel)</h6>

        <!-- Separator -->
        <div class="bd-highlight">
            <hr class="m-0 mt-2 mb-3 p-0 ">
        </div>

        <sb-logicalElementsTypes-records-selection [selectionMode]="'single'"
            [selected]="getParentTypeId()? [getParentTypeId()]: []" (select)="onSelectParentLogicalElementType($event)">
        </sb-logicalElementsTypes-records-selection>

    </div>

</ng-container>

<ng-container *ngIf='page == "subsidiary-types"' class="p-0 m-0">

    <div class="card-body m-0 p-0">

        <h5 class="card-title">Subsidiary</h5>
        <h6 class="card-subtitle mb-3 text-muted">Please choose the subsidiary logical element type (required)</h6>

        <!-- Separator -->
        <div class="bd-highlight">
            <hr class="m-0 mt-2 mb-3 p-0 ">
        </div>

        <sb-logicalElementsTypes-records-selection [selectionMode]="'single'"
            [undesired]="getParentTypeId()? [getParentTypeId()]: []"
            [selected]="getSubsidiaryTypeId()? [getSubsidiaryTypeId()]: []"
            (select)="onSelectSubsidiaryLogicalElementType($event)">
        </sb-logicalElementsTypes-records-selection>

    </div>

</ng-container>