<ng-container *ngIf="initialised; else initialising">

    <div class="card-body m-0 p-0" *ngIf='page == "default"'>

        <!-- Display the data form -->
        <form [formGroup]="systemsUsersRightsForm">

            <h5 class="card-title">Basic Details</h5>
            <h6 class="card-subtitle mb-2 text-muted">Please enter the user right's basic details</h6>

            <!-- Separator -->
            <div class="bd-highlight">
                <hr class="m-0 mt-1 mb-3 p-0 ">
            </div>

            <!-- Context -->
            <div class="bd-highlight">
                <div class="input-group flex-nowrap mb-2">
                    <div class="input-group-prepend pb-0">
                        <label class="input-group-text">Context</label>
                    </div>
                    <ng-container formGroupName="context">
                        <select class="custom-select" id="contextId" formControlName="contextId"
                            (change)="onContextChange()">
                            <option [ngValue]="null" disabled class="text-muted">Select the target context</option>
                            <option *ngFor="let context of contextsDataService.contexts$  | async"
                                [ngValue]="context.id">
                                {{context.data?.abbreviation}}
                            </option>
                        </select>
                    </ng-container>
                </div>
                <div *ngIf="systemsUsersRightsForm.get('context.contextId')?.invalid && (systemsUsersRightsForm.get('context.contextId')?.dirty || systemsUsersRightsForm.get('context.contextId')?.touched)"
                    class="alert alert-danger mt-3">
                    <div *ngIf="systemsUsersRightsForm.get('context.contextId')?.errors.required">
                        Context is required
                    </div>
                    <div *ngIf="systemsUsersRightsForm.get('context.contextId')?.errors.exists">
                        Context rights have already been assigned.
                    </div>
                </div>
            </div>

            <!-- System Role -->
            <div class="bd-highlight">
                <div class="input-group flex-nowrap mb-2">
                    <div class="input-group-prepend pb-0">
                        <label class="input-group-text">Role</label>
                    </div>
                    <ng-container formGroupName="systemRole">
                        <select class="custom-select" id="systemRoleId" formControlName="systemRoleId"
                            (change)="onSystemRoleChange()">
                            <option [ngValue]="null" disabled class="text-muted">Select the target system role</option>
                            <option *ngFor="let systemRole of systemsRolesDataService.systemsRoles$  | async"
                                [ngValue]="systemRole.id">
                                {{systemRole.data?.name}}
                            </option>
                        </select>
                    </ng-container>
                </div>
                <div *ngIf="systemsUsersRightsForm.get('systemRole.systemRoleId')?.invalid && (systemsUsersRightsForm.get('systemRole.systemRoleId')?.dirty || systemsUsersRightsForm.get('systemRole.systemRoleId')?.touched)"
                    class="alert alert-danger mt-3">
                    <div *ngIf="systemsUsersRightsForm.get('systemRole.systemRoleId')?.errors.required">
                        Role is required
                    </div>
                </div>
            </div>

            <!-- Scope -->
            <div class="bd-highlight">
                <div class="input-group flex-nowrap mb-2">
                    <div class="input-group-prepend pb-0">
                        <label class="input-group-text">Scope</label>
                    </div>
                    <ng-container formGroupName="scopeType">
                        <select class="custom-select" id="scopeTypeId" formControlName="scopeTypeId"
                            (change)="onScopeTypeChange()">
                            <option [ngValue]="null" disabled class="text-muted">Select the target scope</option>
                            <option *ngFor="let scopeType of scopesTypesDataService.getActiveScopesTypes$()  | async"
                                [ngValue]="scopeType.id">
                                {{scopeType.data?.name}}
                            </option>
                        </select>
                    </ng-container>
                </div>
                <div *ngIf="systemsUsersRightsForm.get('scopeType.scopeTypeId')?.invalid && (systemsUsersRightsForm.get('scopeType.scopeTypeId')?.dirty || systemsUsersRightsForm.get('scopeType.scopeTypeId')?.touched)"
                    class="alert alert-danger mt-3">
                    <div *ngIf="systemsUsersRightsForm.get('scopeType.scopeTypeId')?.errors.required">
                        Scope is required
                    </div>
                </div>
            </div>

            <!--Entity -->
            <div *ngIf="getScopeTypeId() == 1" class="bd-highlight">
                <div class="input-group flex-nowrap mb-2">
                    <div class="input-group-prepend pb-0">
                        <label class="input-group-text" id="entityName">Entity</label>
                    </div>
                    <ng-container formGroupName="entity">
                        <input type="text" class="form-control input-group-input pl-3" id="entityName" placeholder=""
                            formControlName="entityName" disabled>
                    </ng-container>
                    <div class="input-group-append pb-0">
                        <button type="button" class="btn btn-button-bg-color-1" data-toggle="tooltip"
                            data-placement="top" title="Choose entity" (click)="openEntitySelector()">
                            <fa-icon [icon]='["fas", "bullseye"]'></fa-icon>
                        </button>
                    </div>
                </div>
                <div *ngIf="systemsUsersRightsForm.get('entity.entityId')?.invalid && (systemsUsersRightsForm.get('entity.entityId')?.dirty || systemsUsersRightsForm.get('entity.entityId')?.touched)"
                    class="alert alert-danger mt-3">
                    <div *ngIf="systemsUsersRightsForm.get('entity.entityId')?.errors.required">
                        Entity is required
                    </div>
                </div>
            </div>

            <!--Location -->
            <div *ngIf="getScopeTypeId() == 2" class="bd-highlight">
                <div class="input-group flex-nowrap mb-2">
                    <div class="input-group-prepend pb-0">
                        <label class="input-group-text" id="administrativeUnitName">Location</label>
                    </div>
                    <ng-container formGroupName="location">
                        <input type="text" class="form-control input-group-input pl-3" id="administrativeUnitName" placeholder=""
                            formControlName="administrativeUnitName" disabled>
                    </ng-container>
                    <div class="input-group-append pb-0">
                        <button type="button" class="btn btn-button-bg-color-1" data-toggle="tooltip"
                            data-placement="top" title="Choose location" (click)="openLocationSelector()">
                            <fa-icon [icon]='["fas", "bullseye"]'></fa-icon>
                        </button>
                    </div>
                </div>
                <div *ngIf="systemsUsersRightsForm.get('location.administrativeUnitId')?.invalid && (systemsUsersRightsForm.get('location.administrativeUnitId')?.dirty || systemsUsersRightsForm.get('location.administrativeUnitId')?.touched)"
                    class="alert alert-danger mt-3">
                    <div *ngIf="systemsUsersRightsForm.get('location.administrativeUnitId')?.errors.required">
                        Location is required
                    </div>
                </div>
            </div>

            <!--Organisation -->
            <div *ngIf="getScopeTypeId() == 3" class="bd-highlight">
                <div class="input-group flex-nowrap mb-2">
                    <div class="input-group-prepend pb-0">
                        <label class="input-group-text" id="organisationName">Organisation</label>
                    </div>
                    <ng-container formGroupName="organisation">
                        <input type="text" class="form-control input-group-input pl-3" id="organisationName"
                            placeholder="" formControlName="organisationName" disabled>
                    </ng-container>
                    <div class="input-group-append pb-0">
                        <button type="button" class="btn btn-button-bg-color-1" data-toggle="tooltip"
                            data-placement="top" title="Choose organisation" (click)="openOrganisationSelector()">
                            <fa-icon [icon]='["fas", "bullseye"]'></fa-icon>
                        </button>
                    </div>
                </div>
                <div *ngIf="systemsUsersRightsForm.get('organisation.organisationId')?.invalid && (systemsUsersRightsForm.get('organisation.organisationId')?.dirty || systemsUsersRightsForm.get('organisation.organisationId')?.touched)"
                    class="alert alert-danger mt-3">
                    <div *ngIf="systemsUsersRightsForm.get('organisation.organisationId')?.errors.required">
                        Organisation is required
                    </div>
                </div>
            </div>
        </form>

    </div>

    <ng-container *ngIf='page == "entities"' class="p-0 m-0">

        <div class="card-body m-0 p-0">

            <h5 class="card-title">Entity Details</h5>
            <h6 class="card-subtitle mb-2 text-muted">Please select the target entity</h6>

            <!-- Separator -->
            <div class="bd-highlight">
                <hr class="m-0 mt-1 mb-3 p-0 ">
            </div>

            <div class="d-flex flex-column">
                <div class="p-2">
                    <sb-entities-records-selection [selected]="getSelectedEntities()" (select)="onSelectEntity($event)">
                    </sb-entities-records-selection>
                </div>
            </div>

        </div>



    </ng-container>

    <ng-container *ngIf='page == "locations"' class="p-0 m-0">

        <div class="card-body m-0 p-0">

            <h5 class="card-title">Location Details</h5>
            <h6 class="card-subtitle mb-2 text-muted">Please select the target location</h6>

            <!-- Separator -->
            <div class="bd-highlight">
                <hr class="m-0 mt-1 mb-3 p-0 ">
            </div>

            <div class="d-flex flex-column">
                <div class="p-2">
                    <sb-administrative-hierarchies-records-selection [full]="true" [selected]="getSelectedLocations()"
                        (select)="onSelectAdministrativeHierarchy($event)">
                    </sb-administrative-hierarchies-records-selection>
                </div>
            </div>
        </div>



    </ng-container>

    <ng-container *ngIf='page == "organisations"' class="p-0 m-0">

        <div class="card-body m-0 p-0">

            <h5 class="card-title">Organisation Details</h5>
            <h6 class="card-subtitle mb-2 text-muted">Please select the target organisation</h6>

            <!-- Separator -->
            <div class="bd-highlight">
                <hr class="m-0 mt-1 mb-3 p-0 ">
            </div>

            <div class="d-flex flex-column">
                <div class="p-2">
                    <sb-organisations-records-selection [selected]="getSelectedOrganisations()"
                        (select)="onSelectOrganisation($event)">
                    </sb-organisations-records-selection>
                </div>
            </div>

        </div>

    </ng-container>

</ng-container>

<ng-template #initialising>


    <div class="d-flex justify-content-center m-1">
        <p class="text-center processing mb-5">
            <span>.</span><span>.</span><span>.</span>
        </p>
    </div>

</ng-template>