<ng-container *ngIf="initialised; else initialising">

    <form>

        <div class="d-flex bd-highlight">
            <div class="w-100 bd-highlight">
                <sb-search placeholder="Search by workflow statuses names" (searched)="onSearchTermChange($event)"></sb-search>
            </div>
            <div class="flex-shrink-1 bd-highlight">
                <sb-loading-animation type="bars"></sb-loading-animation>
            </div>
        </div>
    
        <!--For Small-Sized Devices Only-->
        <div class="row d-md-none">
            <div class="col">
                <sb-table [captioned]="false" [headed]="true" [bodied]="true" [footed]="true" [stripped]="true" [hoverable]="true" [bordered]="true">
                    <ng-container header>
                        <tr>
                            <th scope="col" class="col-sm-1 text-center align-middle">#</th>
                            <th scope="col" class="col-sm-9 text-left align-middle">Name</th>
                            <th scope="col" class="col-sm-2 text-center align-middle">Actions</th>
                        </tr>
                    </ng-container>
    
                    <ng-container body>
                        <tr *ngFor="let workflowStatus of workflowStatusesDataService.workflowStatuses$ | async; index as i"  >
    
                            <td class="text-center align-middle">
                                {{i + 1 + paginationOffset}}
                            </td>
    
                            <td class="text-left align-middle">
                                {{workflowStatus.data?.name}}
                            </td>
    
                            <td class="text-center align-middle">
                                <span class="d-flex flex-row-reverse">
                                    <sb-button action="delete" entity="Workflow Status" id="{{workflowStatus.id}}"
                                        (delete)="onDeleteWorkflowStatus($event)" tooltip="Delete {{workflowStatus.data?.name}}"></sb-button>
                                    <sb-button action="update" entity="Workflow Status" id="{{workflowStatus.id}}"
                                        (update)="onUpdateWorkflowStatus($event)" tooltip="Update {{workflowStatus.data?.name}}"></sb-button>
                                </span>
                            </td>
    
                        </tr>
                    </ng-container>
    
                    <ng-container footer>
                        <tr>
                            <td scope="col" colspan="3" class="align-middle">
                                <span class="d-flex flex-row flex-row-reverse">
                                    <sb-button action="add" entity="Workflow Status" (add)="onAddWorkflowStatus()"></sb-button>
                                </span>
    
                            </td>
                        </tr>
                    </ng-container>
    
                </sb-table>
            </div>
        </div>
    
        <!--For Middle-Sized Devices Upwards-->
        <div class="row d-none d-md-block">
            <div class="col">
                <sb-table [captioned]="false" [headed]="true" [bodied]="true" [footed]="true" [stripped]="true" [hoverable]="true" [bordered]="true">
                    <ng-container header>
                        <tr>
                            <th scope="col" class="col-md-1 text-center align-middle">#</th>
                            <th scope="col" class="col-md-10 text-left align-middle">Name</th>                
                            <th scope="col" class="col-md-1 text-center align-middle">Actions</th>
                        </tr>
                    </ng-container>
    
                    <ng-container body>
    
                        <tr *ngFor="let workflowStatus of workflowStatusesDataService.workflowStatuses$ | async; index as i"  >
    
                            <td class="text-center align-middle">
                                {{i + 1 + paginationOffset}}
                            </td>
    
                            <td class="text-left align-middle">
                                {{workflowStatus.data?.name}}
                            </td>                         
    
                            <td class="text-center align-middle">
                                <span class="d-flex flex-row-reverse">
                                    <sb-button action="delete" entity="Workflow Status" id="{{workflowStatus.id}}"
                                        (delete)="onDeleteWorkflowStatus($event)" tooltip="Delete {{workflowStatus.data?.name}}"></sb-button>
                                    <sb-button action="update" entity="Workflow Status" id="{{workflowStatus.id}}"
                                        (update)="onUpdateWorkflowStatus($event)" tooltip="Update {{workflowStatus.data?.name}}"></sb-button>
                                </span>
                            </td>
    
                        </tr>
    
                    </ng-container>
    
                    <ng-container footer>
                        <tr>
                            <td scope="col" colspan="5" class="align-middle">
                                <span class="d-flex flex-row flex-row-reverse">
                                    <sb-button action="add" entity="Workflow Status" (add)="onAddWorkflowStatus()"></sb-button>
                                </span>
    
                            </td>
                        </tr>
                    </ng-container>
    
                </sb-table>
            </div>
        </div>
    
        <div class="row">
            <div class="col">
                <sb-pagination (pageChanged)="onPageChange($event)" (pageSizeChanged)="onPageSizeChange($event)">
                </sb-pagination>
            </div>
        </div>
    
    </form>

</ng-container>

<ng-template #initialising>

    <div class="d-flex justify-content-center m-1">
        <p class="text-center processing mb-5">
            <span>.</span><span>.</span><span>.</span>
        </p>
    </div>

</ng-template>


