<form>

    <div class="d-flex bd-highlight">
        <div class="w-100 bd-highlight">
            <sb-search placeholder="Search by contexts names" (searched)="onSearchTermChange($event)"></sb-search>
        </div>
        <div class="flex-shrink-1 bd-highlight">
            <sb-loading-animation type="bars"></sb-loading-animation>
        </div>
    </div>

    <!--For Small-Sized Devices Only-->
    <div class="row d-md-none">
        <div class="col">
            <sb-table [captioned]="false" [headed]="true" [bodied]="true" [footed]="true" [stripped]="true" [hoverable]="true" [bordered]="true">
                <ng-container header>
                    <tr>
                        <th scope="col" class="col-sm-10 text-left align-middle">Name</th>
                        <th scope="col" class="col-sm-2 text-center align-middle">Actions</th>
                    </tr>
                </ng-container>
                <ng-container body>
                    <tr *ngFor="let context of contextsDataService.contexts$ | async; index as i"  >

                        <td class="text-left align-middle">
                            {{context.data?.name}}
                        </td>

                        <td class="text-center align-middle">
                            <span class="d-flex flex-row-reverse">
                                <sb-button action="delete" entity="Context" id="{{context.id}}"
                                    (delete)="onDeleteContext($event)" tooltip="Delete {{context.data?.name}}"></sb-button>
                                <sb-button action="update" entity="Context" id="{{context.id}}"
                                    (update)="onUpdateContext($event)" tooltip="Update {{context.data?.name}}"></sb-button>
                            </span>
                        </td>

                    </tr>
                </ng-container>

                <ng-container footer>
                    <tr>
                        <td scope="col" colspan="2" class="align-middle">
                            <span class="d-flex flex-row flex-row-reverse">
                                <sb-button action="add" entity="Context" (add)="onAddContext()"></sb-button>
                            </span>

                        </td>
                    </tr>
                </ng-container>

            </sb-table>
        </div>
    </div>

    <!--For Middle-Sized Devices Upwards-->
    <div class="row d-none d-md-block">
        <div class="col">
            <sb-table [captioned]="false" [headed]="true" [bodied]="true" [footed]="true" [stripped]="true" [hoverable]="true" [bordered]="true">
                <ng-container header>
                    <tr>
                        <th scope="col" class="col-md-1 text-center align-middle">#</th>
                        <th scope="col" class="col-md-6 text-left align-middle">Name</th>
                        <th scope="col" class="col-md-2 text-center align-middle">Abbreviation</th>
                        <th scope="col" class="col-md-2 text-center align-middle">Reporting Cycle</th>
                        <th scope="col" class="col-md-1 text-center align-middle">Actions</th>
                    </tr>
                </ng-container>
                <ng-container body>
                    <tr *ngFor="let context of contextsDataService.contexts$ | async; index as i"  >
                        
                        <td class="text-center align-middle">
                            {{i + 1 + paginationOffset}}
                        </td>

                        <td class="text-left align-middle">
                            {{context.data?.name}}
                        </td>

                        <td class="text-center align-middle">
                            {{context.data?.abbreviation}}
                        </td>


                        <td class="text-center align-middle">
                            {{context.data?.timestep?.name}}
                        </td>                                           

                        <td class="text-center align-middle">
                            <span class="d-flex flex-row-reverse">
                                <sb-button action="delete" entity="Context" id="{{context.id}}"
                                    (delete)="onDeleteContext($event)" tooltip="Delete {{context.data?.name}}"></sb-button>
                                <sb-button action="update" entity="Context" id="{{context.id}}"
                                    (update)="onUpdateContext($event)" tooltip="Update {{context.data?.name}}"></sb-button>
                            </span>
                        </td>

                    </tr>

                </ng-container>

                <ng-container footer>
                    <tr>
                        <td scope="col" colspan="6" class="align-middle">
                            <span class="d-flex flex-row flex-row-reverse">
                                <sb-button action="add" entity="Context" (add)="onAddContext()"></sb-button>
                            </span>

                        </td>
                    </tr>
                </ng-container>

            </sb-table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <sb-pagination (pageChanged)="onPageChange($event)" (pageSizeChanged)="onPageSizeChange($event)">
            </sb-pagination>
        </div>
    </div>

</form>