<!-- default -->
<form *ngIf="page == 'default'" [formGroup]="systemsUsersForm">
    <div class="form-row">
        <div class="col-12">
            <div class="form-group">
                <label class="small mb-1" for="password">New Password</label>
                <input class="form-control py-4" id="password" type="password" placeholder="Enter new password"
                    formControlName="password" />
            </div>
            <div *ngIf="systemsUsersForm.get('password')?.invalid && (systemsUsersForm.get('password')?.dirty || systemsUsersForm.get('password')?.touched)"
                class="alert alert-danger mt-3">
                <div *ngIf="systemsUsersForm.get('password')?.errors.required">
                    New password is required
                </div>
                <div *ngIf="systemsUsersForm.get('password')?.errors.minlength">
                    New password should be at least 8 characters long
                </div>
                <div *ngIf="systemsUsersForm.get('password')?.errors.maxlength">
                    New password should not be be more than 250 characters long
                </div>
                <div *ngIf="systemsUsersForm.get('password')?.errors.hasNoDigit">
                    New password should contain at least one digit.
                </div>
                <div *ngIf="systemsUsersForm.get('password')?.errors.hasNoLowerCaseLetter">
                    New password should contain at least one lowercase letter.
                </div>
                <div *ngIf="systemsUsersForm.get('password')?.errors.hasNoUpperCaseLetter">
                    New password should contain at least one uppercase letter.
                </div>
                <div *ngIf="systemsUsersForm.get('password')?.errors.hasNoSpecialCharacter">
                    New password should contain at least one special character.
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12">
            <div class="form-group d-flex align-items-center justify-content-end mt-4 mb-0">
                <a class="btn btn-button-bg-color-1" href="javascript:void(0);" (click)="save()">Save</a>
            </div>
        </div>
    </div>
</form>

<!-- Saving -->
<div *ngIf="page == 'saving'" class="d-flex flex-column justify-content-center bd-highlight mb-3">
    <div class="pt-2 bd-highlight text-center">
        <h5>
            <fa-icon [icon]='["fas", "stopwatch"]'></fa-icon>
        </h5>
    </div>
    <div class="pt-2 bd-highlight text-center">
        <h5>Setting</h5>
    </div>
    <div class="pt-2 bd-highlight text-center">
        <p class="text-center processing">
            <span>.</span><span>.</span><span>.</span>
        </p>
    </div>
</div>

<!-- Suceeded -->
<div *ngIf="page == 'suceeded'" class="d-flex flex-column justify-content-center bd-highlight mb-3">
    <div class="pt-2 bd-highlight text-center">
        <h5 class="text-success">
            <fa-icon [icon]='["fas", "check-circle"]'></fa-icon>
        </h5>
    </div>
    <div class="pt-2 bd-highlight text-center">
        <h5>Done</h5>
    </div>
    <div class="pt-2 bd-highlight text-center">
        <p class="text-center text-success">
            <strong>Your password has been successfully updated</strong>
        </p>
    </div>
    <div *ngIf="!error.resetable" class="row">
        <div class="col-12">
            <div class="form-group mt-4 mb-0 text-center">
                <a class="btn btn-button-bg-color-1" href="javascript:void(0);" (click)="login()">Go to Login Page</a>
            </div>
        </div>
    </div>
</div>

<!-- Failed -->
<div *ngIf="page == 'failed'" class="d-flex flex-column justify-content-center bd-highlight mb-3">
    <div class="pt-2 bd-highlight text-center">
        <h5 class="text-danger">
            <fa-icon [icon]='["fas", "times-circle"]'></fa-icon>
        </h5>
    </div>
    <div class="pt-2 bd-highlight text-center">
        <h5>Failed</h5>
    </div>
    <div class="pt-2 bd-highlight text-center">
        <p>{{error.message}}. {{error.suggestion}}</p>
    </div>
    <div *ngIf="error.resetable" class="row">
        <div class="col-6">
            <div class="form-group mt-4 mb-0">
                <a class="btn btn-button-bg-color-1 btn-block" href="javascript:void(0);" (click)="quit()">Go to the
                    Homepage</a>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group mt-4 mb-0">
                <a class="btn btn-button-bg-color-1 btn-block" href="javascript:void(0);" (click)="requestNewToken()">Request new Token</a>
            </div>
        </div>
    </div>
    <div *ngIf="!error.resetable" class="row">
        <div class="col-12">
            <div class="form-group mt-4 mb-0 text-center">
                <a class="btn btn-button-bg-color-1" href="javascript:void(0);" (click)="quit()">Go to Homepage</a>
            </div>
        </div>
    </div>
</div>