<ng-container *ngIf="initialised; else initialising">

    <form [formGroup]="logicalStructuresForm">

        <div class="row">
            <div class="col">
                <table class="table table-bordered border-dark filter">
                    <tr>
                        <td class="col-1 align-middle text-left p-2 pl-3">
                            Scheme
                        </td>
                        <td class="col-11 align-middle p-2">
                            <select class="custom-select" id="schemeId" formControlName="schemeId"
                                (change)="onLogicalSchemeChange()">
                                <option [ngValue]="null" disabled>Select Logical Scheme</option>
                                <option
                                    *ngFor="let logicalScheme of logicalSchemesDataService.logicalSchemes$ | async"
                                    [ngValue]="logicalScheme.id">
                                    {{logicalScheme.data?.name}}</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="d-flex bd-highlight">
            <div class="w-100 bd-highlight">
                <sb-search placeholder="Search by logical structures subsidiaries names"
                    (searched)="onSearchTermChange($event)"></sb-search>
            </div>
            <div class="flex-shrink-1 bd-highlight">
                <sb-loading-animation type="bars"></sb-loading-animation>
            </div>
        </div>

        <!--For Small-Sized Devices Only-->
        <div class="row d-md-none">
            <div class="col">


                <sb-table [captioned]="false" [headed]="true" [bodied]="true" [footed]="true" [stripped]="true" [hoverable]="true" [bordered]="true">
                    <ng-container header>
                        <tr>
                            <th scope="col" class="col-sm-10 text-left align-middle">Subsidiary</th>
                            <th scope="col" class="col-sm-2 text-center align-middle">Actions</th>
                        </tr>
                    </ng-container>

                    <ng-container body>

                        <ng-container
                            *ngFor="let logicalStructure of logicalStructuresDataService.logicalStructures$ | async; index as i">
                            <tr>

                                <td class="text-left align-middle">
                                    {{logicalStructure.data?.responsible?.name}}
                                </td>

                                <td class="text-center align-middle">
                                    <span class="d-flex flex-row-reverse">
                                        <sb-button action="delete" entity="Logical Structure"
                                            id="{{logicalStructure.id}}"
                                            (delete)="onDeleteLogicalStructure($event)"
                                            tooltip="Delete {{logicalStructure.data?.name}}">
                                        </sb-button>
                                        <sb-button action="update" entity="Logical Structure"
                                            id="{{logicalStructure.id}}"
                                            (update)="onUpdateLogicalStructure($event)"
                                            tooltip="Update {{logicalStructure.data?.name}}">
                                        </sb-button>
                                    </span>
                                </td>

                            </tr>
                        </ng-container>
                    </ng-container>

                    <ng-container footer>
                        <tr>
                            <td scope="col" colspan="2" class="align-middle">
                                <span class="d-flex flex-row flex-row-reverse">
                                    <sb-button action="add" entity="Logical Structure"
                                        (add)="onAddLogicalStructure()">
                                    </sb-button>
                                </span>

                            </td>
                        </tr>
                    </ng-container>

                </sb-table>
            </div>
        </div>

        <!--For Middle-Sized Devices Upwards-->
        <div class="row d-none d-md-block">
            <div class="col">

                <sb-table [captioned]="false" [headed]="true" [bodied]="true" [footed]="true" [stripped]="true" [hoverable]="true" [bordered]="true">
                    <ng-container header>
                        <tr>
                            <th scope="col" class="col-md-1 text-center align-middle">#</th>
                            <th scope="col" class="col-md-5 text-left align-middle">Parent</th>
                            <th scope="col" class="col-md-5 text-left align-middle">Subsidiary</th>
                            <th scope="col" class="col-md-1 text-center align-middle">Actions</th>
                        </tr>
                    </ng-container>

                    <ng-container body>


                        <ng-container
                            *ngFor="let logicalStructure of logicalStructuresDataService.logicalStructures$ | async; index as i">

                            <tr>

                                <td class="text-center align-middle">
                                    {{i + 1 + paginationOffset}}
                                </td>                               

                                <td class="text-left align-middle">
                                    {{logicalStructure.data?.commissioner?.name}}
                                </td>

                                <td class="text-left align-middle">
                                    {{logicalStructure.data?.responsible?.name}}
                                </td>

                                <td class="text-center align-middle">
                                    <span class="d-flex flex-row-reverse">
                                        <sb-button action="delete" entity="Logical Structure"
                                            id="{{logicalStructure.id}}"
                                            (delete)="onDeleteLogicalStructure($event)"
                                            tooltip="Delete {{logicalStructure.data?.name}}">
                                        </sb-button>
                                        <sb-button action="update" entity="Logical Structure"
                                            id="{{logicalStructure.id}}"
                                            (update)="onUpdateLogicalStructure($event)"
                                            tooltip="Update {{logicalStructure.data?.name}}">
                                        </sb-button>
                                    </span>
                                </td>

                            </tr>

                        </ng-container>

                    </ng-container>

                    <ng-container footer>
                        <tr>
                            <td scope="col" colspan="5" class="align-middle p-2">
                                <span class="d-flex flex-row flex-row-reverse">
                                    <sb-button action="add" entity="Logical Structure"
                                        (add)="onAddLogicalStructure()">
                                    </sb-button>
                                </span>

                            </td>
                        </tr>
                    </ng-container>

                </sb-table>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <sb-pagination (pageChanged)="onPageChange($event)" (pageSizeChanged)="onPageSizeChange($event)">
                </sb-pagination>
            </div>
        </div>

    </form>

</ng-container>

<ng-template #initialising>


    <div class="d-flex justify-content-center m-1">
        <p class="text-center processing mb-5">
            <span>.</span><span>.</span><span>.</span>
        </p>
    </div>

</ng-template>