<div class="card-body m-0 p-0">

    <h5 class="card-title">Basic Details</h5>
    <h6 class="card-subtitle mb-3 text-muted">Please enter the logical element type's basic details</h6>

    <!-- Separator -->
    <div class="bd-highlight">
        <hr class="m-0 mt-2 mb-3 p-0 ">
    </div>

    <form [formGroup]="logicalElementsTypesForm">

        <!-- Name -->
        <div class="d-flex flex-column bd-highlight">

            <div class="bd-highlight">
                <div class="input-group flex-nowrap mb-2">
                    <div class="input-group-prepend pb-0">
                        <label class="input-group-text">Name</label>
                    </div>
                    <input type="text" class="form-control" id="name" placeholder="Enter the element type's name"
                        formControlName="name">
                </div>
                <div *ngIf="logicalElementsTypesForm.get('name')?.invalid && (logicalElementsTypesForm.get('name')?.dirty || logicalElementsTypesForm.get('name')?.touched)"
                    class="alert alert-danger mt-3">
                    <div *ngIf="logicalElementsTypesForm.get('name')?.errors.required">
                        Name is required
                    </div>
                    <div *ngIf="logicalElementsTypesForm.get('name')?.errors.minlength">
                        Name should be at least 2 characters long
                    </div>
                    <div *ngIf="logicalElementsTypesForm.get('name')?.errors.maxlength">
                        Name should not be more than 250 characters long
                    </div>
                    <div *ngIf="logicalElementsTypesForm.get('name')?.errors.exists">
                        Name should be unique
                    </div>
                </div>
            </div>

        </div>

        <!-- Plural -->
        <div class="d-flex flex-column bd-highlight">

            <div class="bd-highlight">
                <div class="input-group flex-nowrap mb-2">
                    <div class="input-group-prepend pb-0">
                        <label class="input-group-text">Plural</label>
                    </div>
                    <input type="text" class="form-control" id="plural"
                        placeholder="Enter the element type's plural name" formControlName="plural">
                </div>
                <div *ngIf="logicalElementsTypesForm.get('plural')?.invalid && (logicalElementsTypesForm.get('plural')?.dirty || logicalElementsTypesForm.get('plural')?.touched)"
                    class="alert alert-danger mt-3">
                    <div *ngIf="logicalElementsTypesForm.get('plural')?.errors.required">
                        Plural name is required
                    </div>
                    <div *ngIf="logicalElementsTypesForm.get('plural')?.errors.minlength">
                        Plural name should be at least 2 characters long
                    </div>
                    <div *ngIf="logicalElementsTypesForm.get('plural')?.errors.maxlength">
                        Plural name should not be more than 250 characters long
                    </div>
                    <div *ngIf="logicalElementsTypesForm.get('plural')?.errors.exists">
                        Plural name should be unique
                    </div>
                </div>
            </div>

        </div>

    </form>

</div>