<ng-container *ngIf="page == 'default'">
    <div class="small mb-3 text-muted">Enter your email address and we will send you a link to reset your password.</div>
    <form [formGroup]="passwordResetRequestForm">
        <div class="form-group">
            <label class="small mb-1" for="email">Email</label>
            <input class="form-control py-4" id="email" type="email" placeholder="Enter your email address" formControlName="email" />
        </div>
        <div *ngIf="passwordResetRequestForm.get('email')?.invalid && (passwordResetRequestForm.get('email')?.dirty || passwordResetRequestForm.get('email')?.touched)"
            class="alert alert-danger mt-3">
            <div *ngIf="passwordResetRequestForm.get('email')?.errors.required">
                Email is required
            </div>
            <div *ngIf="passwordResetRequestForm.get('email')?.errors.email">
                Email is invalid
            </div>
        </div>
        <div class="form-group d-flex align-items-center justify-content-end mt-4 mb-0">
            <a class="btn btn-button-bg-color-1" href="javascript:void(0);" (click)="reset()">Reset Password</a>
        </div>
    </form>
</ng-container>


<!-- Sending -->
<div *ngIf="page == 'sending'" class="d-flex flex-column justify-content-center bd-highlight mb-3">
    <div class="pt-2 bd-highlight text-center">
        <h5>
            <fa-icon [icon]='["fas", "stopwatch"]'></fa-icon>
        </h5>
    </div>
    <div class="pt-2 bd-highlight text-center">
        <h5>Processing</h5>
    </div>
    <div class="pt-2 bd-highlight text-center">
        <p class="text-center processing">
            <span>.</span><span>.</span><span>.</span>
        </p>
    </div>
</div>

<!-- Done -->
<div *ngIf="page == 'suceeded'" class="d-flex flex-column justify-content-center bd-highlight mb-3">
    <div class="pt-2 bd-highlight text-center">
        <h5 class="text-success">
            <fa-icon [icon]='["fas", "check-circle"]'></fa-icon>
        </h5>
    </div>
    <div class="pt-2 bd-highlight text-center">
        <h5>Done</h5>
    </div>
    <div class="pt-2 bd-highlight text-center">
        <p class="text-center">
            An account reset link has been sent to your email
        </p>
    </div>
    <div *ngIf="!error.retryable" class="row">
        <div class="col-12">
            <div class="form-group mt-4 mb-0 text-center">
                <a class="btn btn-button-bg-color-1" href="javascript:void(0);" (click)="quit()">Go to Homepage</a>
            </div>
        </div>
    </div>
</div>

<!-- Failed -->
<div *ngIf="page == 'failed'" class="d-flex flex-column justify-content-center bd-highlight mb-3">
    <div class="pt-2 bd-highlight text-center">
        <h5 class="text-danger">
            <fa-icon [icon]='["fas", "times-circle"]'></fa-icon>
        </h5>
    </div>
    <div class="pt-2 bd-highlight text-center">
        <h5>Failed</h5>
    </div>
    <div class="pt-2 bd-highlight text-center">
        <p>{{error.message}}. {{error.suggestion}}</p>
    </div>
    <div *ngIf="error.retryable" class="row">
        <div class="col-6">
            <div class="form-group mt-4 mb-0">
                <a class="btn btn-button-bg-color-1 btn-block" href="javascript:void(0);" (click)="quit()">Go to the
                    Homepage</a>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group mt-4 mb-0">
                <a class="btn btn-button-bg-color-1 btn-block" href="javascript:void(0);" (click)="retry()">Try
                    again</a>
            </div>
        </div>
    </div>
    <div *ngIf="!error.retryable" class="row">
        <div class="col-12">
            <div class="form-group mt-4 mb-0 text-center">
                <a class="btn btn-button-bg-color-1" href="javascript:void(0);" (click)="quit()">Go to Homepage</a>
            </div>
        </div>
    </div>
</div>