<ng-container *ngIf="initialised; else initialising">

    <form>

        <div class="d-flex bd-highlight">
            <div class="w-100 bd-highlight">
                <sb-search placeholder="Search by logical schemes names" (searched)="onSearchTermChange($event)">
                </sb-search>
            </div>
            <div class="flex-shrink-1 bd-highlight">
                <sb-loading-animation type="bars"></sb-loading-animation>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <sb-table [captioned]="false" [headed]="true" [bodied]="true" [footed]="true" [stripped]="true"
                    [hoverable]="true" [bordered]="true">

                    <ng-container header>
                        <tr>
                            <th scope="col" class="col-sm-2 text-center align-middle"></th>
                            <th scope="col" class="col-sm-10 text-left align-middle">Name </th>
                        </tr>
                    </ng-container>

                    <ng-container body>

                        <ng-container *ngIf="desired.length > 0; else desiredUnspecified">

                            <ng-container
                                *ngFor="let logicalScheme of logicalSchemesDataService.logicalSchemes$ | async">

                                <tr *ngIf="isDesired(logicalScheme)">

                                    <td class="text-center align-middle">
                                        <span class="d-flex justify-content-center">

                                            <div *ngIf='selectionMode === "single"; else multi'>
                                                <sb-button action="select" entity="Logical Scheme"
                                                    id="{{logicalScheme.id}}" name="logicalScheme"
                                                    [selected]="isSelected(logicalScheme)"
                                                    (select)="onSelect(logicalScheme)">
                                                </sb-button>
                                            </div>

                                            <ng-template #multi>
                                                <sb-button action="check" entity="Logical Scheme"
                                                    id="{{logicalScheme.id}}" name="logicalScheme"
                                                    [checked]="isChecked(logicalScheme)"
                                                    (check)="onCheck(logicalScheme)"
                                                    (uncheck)="onUncheck(logicalScheme)">
                                                </sb-button>
                                            </ng-template>

                                        </span>
                                    </td>

                                    <td class="text-left align-middle">
                                        {{logicalScheme.data?.name}}
                                    </td>


                                </tr>

                            </ng-container>

                        </ng-container>

                        <ng-template #desiredUnspecified>

                            <ng-container *ngIf="undesired.length > 0; else undesiredUnspecified">

                                <ng-container
                                    *ngFor="let logicalScheme of logicalSchemesDataService.logicalSchemes$ | async">

                                    <tr *ngIf="!isUndesired(logicalScheme)">

                                        <td class="text-center align-middle">
                                            <span class="d-flex justify-content-center">

                                                <div *ngIf='selectionMode === "single"; else multi'>
                                                    <sb-button action="select" entity="Logical Scheme"
                                                        id="{{logicalScheme.id}}" name="logicalScheme"
                                                        [selected]="isSelected(logicalScheme)"
                                                        (select)="onSelect(logicalScheme)">
                                                    </sb-button>
                                                </div>

                                                <ng-template #multi>
                                                    <sb-button action="check" entity="Logical Scheme"
                                                        id="{{logicalScheme.id}}" name="logicalScheme"
                                                        [checked]="isChecked(logicalScheme)"
                                                        (check)="onCheck(logicalScheme)"
                                                        (uncheck)="onUncheck(logicalScheme)">
                                                    </sb-button>
                                                </ng-template>

                                            </span>
                                        </td>

                                        <td class="text-left align-middle">
                                            {{logicalScheme.data?.name}}
                                        </td>

                                    </tr>

                                </ng-container>

                            </ng-container>

                            <ng-template #undesiredUnspecified>

                                <tr *ngFor="let logicalScheme of logicalSchemesDataService.logicalSchemes$ | async">

                                    <td class="text-center align-middle">
                                        <span class="d-flex justify-content-center">

                                            <div *ngIf='selectionMode === "single"; else multi'>
                                                <sb-button action="select" entity="Logical Scheme"
                                                    id="{{logicalScheme.id}}" name="logicalScheme"
                                                    [selected]="isSelected(logicalScheme)"
                                                    (select)="onSelect(logicalScheme)">
                                                </sb-button>
                                            </div>

                                            <ng-template #multi>
                                                <sb-button action="check" entity="Logical Scheme"
                                                    id="{{logicalScheme.id}}" name="logicalScheme"
                                                    [checked]="isChecked(logicalScheme)"
                                                    (check)="onCheck(logicalScheme)"
                                                    (uncheck)="onUncheck(logicalScheme)">
                                                </sb-button>
                                            </ng-template>

                                        </span>
                                    </td>

                                    <td class="text-left align-middle">
                                        {{logicalScheme.data?.name}}
                                    </td>

                                </tr>

                            </ng-template>

                        </ng-template>

                    </ng-container>
                </sb-table>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <sb-pagination type="modal" (pageChanged)="onPageChange($event)"
                    (pageSizeChanged)="onPageSizeChange($event)">
                </sb-pagination>
            </div>
        </div>

    </form>

</ng-container>

<ng-template #initialising>


    <div class="d-flex justify-content-center m-1">
        <p class="text-center processing mb-5">
            <span>.</span><span>.</span><span>.</span>
        </p>
    </div>

</ng-template>