<div class="card-body m-0 p-0">
    <form [formGroup]="logicalElementsForm">

        <h5 class="card-title">Basic Details</h5>
        <h6 class="card-subtitle mb-3 text-muted">Please enter the logical element's basic details</h6>

        <!-- Separator -->
        <div class="bd-highlight">
            <hr class="m-0 mt-2 mb-3 p-0 ">
        </div>

        <!-- Type -->
        <div class="d-flex flex-column bd-highlight">

            <div class="bd-highlight">
                <div class="input-group flex-nowrap mb-2">
                    <div class="input-group-prepend pb-0">
                        <label class="input-group-text">Type</label>
                    </div>
                    <select class="custom-select" id="typeId" formControlName="typeId">
                        <option [ngValue]="null" disabled>Select the logical element's type</option>
                        <option
                            *ngFor="let logicalElementType of logicalElementsTypesDataService.logicalElementsTypes$ | async"
                            [ngValue]="logicalElementType.id">
                            {{logicalElementType.data?.name}}</option>
                    </select>
                </div>
                <div *ngIf="logicalElementsForm.get('typeId')?.invalid && (logicalElementsForm.get('typeId')?.dirty || logicalElementsForm.get('typeId')?.touched)"
                    class="alert alert-danger mt-3">
                    <div *ngIf="logicalElementsForm.get('typeId')?.errors.required">
                        Type is required
                    </div>
                </div>
            </div>
        </div>

        <!-- No -->
        <div class="d-flex flex-column bd-highlight">

            <div class="bd-highlight">
                <div class="input-group flex-nowrap mb-2">
                    <div class="input-group-prepend pb-0">
                        <label class="input-group-text">No</label>
                    </div>
                    <input type="text" class="form-control" id="no" placeholder="Enter the logical element's no"
                        formControlName="no">
                </div>
                <div *ngIf="logicalElementsForm.get('no')?.invalid && (logicalElementsForm.get('no')?.dirty || logicalElementsForm.get('no')?.touched)"
                    class="alert alert-danger mt-3">
                    <div *ngIf="logicalElementsForm.get('no')?.errors.required">
                        No is required
                    </div>
                    <div *ngIf="logicalElementsForm.get('no')?.errors.minlength">
                        No should be at least 1 character long.
                    </div>
                    <div *ngIf="logicalElementsForm.get('no')?.errors.maxlength">
                        No cannot be more than 50 characters long
                    </div>
                    <div *ngIf="logicalElementsForm.get('no')?.errors.exists">
                        No should be unique
                    </div>
                </div>
            </div>

        </div>

        <!-- Name -->
        <div class="d-flex flex-column bd-highlight">

            <div class="bd-highlight">
                <div class="input-group flex-nowrap mb-2">
                    <div class="input-group-prepend pb-0">
                        <label class="input-group-text">Name</label>
                    </div>
                    <input type="text" class="form-control" id="name" placeholder="Enter the logical element's name"
                        formControlName="name">
                </div>
                <div *ngIf="logicalElementsForm.get('name')?.invalid && (logicalElementsForm.get('name')?.dirty || logicalElementsForm.get('name')?.touched)"
                    class="alert alert-danger mt-3">
                    <div *ngIf="logicalElementsForm.get('name')?.errors.required">
                        Name is required
                    </div>
                    <div *ngIf="logicalElementsForm.get('name')?.errors.minlength">
                        Name should be at least 2 characters long
                    </div>
                    <div *ngIf="logicalElementsForm.get('name')?.errors.maxlength">
                        Name should not be more than 250 characters long
                    </div>
                    <div *ngIf="logicalElementsForm.get('name')?.errors.exists">
                        Name should be unique
                    </div>
                </div>
            </div>

        </div>

        <h5 class="card-title mt-3">Additional Details</h5>
        <h6 class="card-subtitle mb-3 text-muted">Optionally enter the logical element's miscellaneous details</h6>

        <!-- Separator -->
        <div class="bd-highlight">
            <hr class="m-0 mt-2 mb-3 p-0 ">
        </div>

        <!-- Description -->
        <div class="d-flex flex-column bd-highlight">

            <div class="bd-highlight">
                <div class="input-group flex-nowrap mb-2">
                    <div class="input-group-prepend pb-0">
                        <label class="input-group-text">Description</label>
                    </div>
                    <textarea class="form-control" id="description" formControlName="description"></textarea>
                </div>
                <div *ngIf="logicalElementsForm.get('description')?.invalid && (logicalElementsForm.get('description')?.dirty || logicalElementsForm.get('description')?.touched)"
                    class="alert alert-danger mt-3">
                    <div *ngIf="logicalElementsForm.get('description')?.errors.maxlength">
                        Description cannot be more than 500 characters long
                    </div>
                </div>
            </div>

        </div>

    </form>

</div>