<!-- Display the data form -->
<div class="card-body m-0 p-0">

    <form [formGroup]="domainsForm">


        <!-- Name -->
        <div class="d-flex flex-column bd-highlight">

            <div class="bd-highlight">
                <div class="input-group flex-nowrap mb-2">
                    <div class="input-group-prepend pb-0">
                        <label class="input-group-text">Name</label>
                    </div>
                    <input type="text" class="form-control" id="name" placeholder="Enter Domain's Name"
                        formControlName="name">
                </div>
                <div *ngIf="domainsForm.get('name')?.invalid && (domainsForm.get('name')?.dirty || domainsForm.get('name')?.touched)"
                    class="alert alert-danger mt-3">
                    <div *ngIf="domainsForm.get('name')?.errors.required">
                        Name is required
                    </div>
                    <div *ngIf="domainsForm.get('name')?.errors.minlength">
                        Name should be at least 2 characters long
                    </div>
                    <div *ngIf="domainsForm.get('name')?.errors.maxlength">
                        Name should not be more than 250 characters long
                    </div>
                    <div *ngIf="domainsForm.get('name')?.errors.exists">
                        Name should be unique
                    </div>
                </div>
            </div>

        </div>

    </form>

</div>