<sb-modal shadow="false">

    <ng-container title>
        {{title}}
    </ng-container>

    <ng-container body>

        <sb-systems-users-rights-records-deletion [id]="id" (succeeded)="onSucceeded()" (failed)="onFailed($event)">
        </sb-systems-users-rights-records-deletion>

        <ngContainer [ngSwitch]="(status$ | async)">

            <!-- Deletion Overlay -->
            <sb-message-overlay *ngSwitchCase="'deleting'" activity="deleting" status="deleting"></sb-message-overlay>

            <!-- Deletion Succeeded Overlay -->
            <sb-message-overlay *ngSwitchCase="'succeeded'" activity="deleting" status="succeeded"></sb-message-overlay>

            <!-- Deletion Failed Overlay -->
            <sb-message-overlay *ngSwitchCase="'failed'" activity="deleting" status="failed"></sb-message-overlay>

            <!-- Deletion Re-Trial Delay Overlay  -->
            <sb-countdown-overlay *ngSwitchCase="'retrying'" crosshead="Retrying in" (completed)="onDelete()">
            </sb-countdown-overlay>

            <!-- Done Overlay -->
            <sb-message-overlay *ngSwitchCase="'done'" activity="deleting" status="done"></sb-message-overlay>                   

        </ngContainer>

    </ng-container>

    <ng-container footer>

        <ngContainer [ngSwitch]="(status$ | async)">

            <!-- Ready State Buttons -->
            <sb-button *ngSwitchCase="'ready'" action="yes" entity="System User Right" (yes)="onDelete()"></sb-button>
            <sb-button *ngSwitchCase="'ready'" action="no" entity="System User Right" guarded="false" (no)="onQuit()">
            </sb-button>

            <!-- Deleting State Buttons -->
            <sb-button *ngSwitchCase="'deleting'" action="yes" entity="System User Right" disabled="true"></sb-button>

            <!-- Succeeded State Buttons -->
            <sb-button *ngSwitchCase="'succeeded'" action="yes" entity="System User Right" disabled="true"></sb-button>
            <sb-button *ngSwitchCase="'succeeded'" action="no" entity="System User Right" disabled="true"></sb-button>

            <!-- Failed State Buttons -->
            <sb-button *ngSwitchCase="'failed'" action="yes" entity="System User Right" (yes)="onRetry()"></sb-button>
            <sb-button *ngSwitchCase="'failed'" action="no" entity="System User Right" guarded="false" (no)="onQuit()">
            </sb-button>

            <!-- Retrying State Buttons -->
            <sb-button *ngSwitchCase="'retrying'" action="yes" entity="System User Right" disabled="true"></sb-button>
            <sb-button *ngSwitchCase="'retrying'" action="no" entity="System User Right" disabled="true"></sb-button>

            <!-- Done Buttons -->
            <sb-button *ngSwitchCase="'done'" action="done" entity="System User Right" guarded="false" (done)="onDone()">
            </sb-button>

        </ngContainer>

    </ng-container>

</sb-modal>