<ng-container *ngIf="initialised; else initialising">

    <form [formGroup]="logicalHierarchiesForm">

        <div *ngIf="this.filterService.filter.openedLogicalHierarchies.length > 0" class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-ciat-tint-2">
                        <li class="breadcrumb-item" style="display: inline ;"><a href="javascript:void(0);" (click)="onDrillUp(null)">Home</a></li>
                        <ng-container
                            *ngFor="let adminHierarchy of this.filterService.filter.openedLogicalHierarchies">
                            <li *ngIf="!isLastSelected(adminHierarchy.id)" class="breadcrumb-item">
                                <a href="javascript:void(0);"
                                    (click)="onDrillUp(adminHierarchy)">
                                    {{truncate(adminHierarchy.data?.responsible?.name)}}
                                </a>
                            </li>
                            <li *ngIf="isLastSelected(adminHierarchy.id)" class="breadcrumb-item active">
                                {{truncate(adminHierarchy.data?.responsible?.name)}}
                            </li>
                        </ng-container>
                    </ol>
                </nav>

            </div>
        </div>

        <div *ngIf="this.filterService.filter.activeLogicalStructures.length > 0" class="d-flex bd-highlight">
            <div class="w-100 bd-highlight">
                <sb-search placeholder="Search by logical elements names"
                    (searched)="onSearchTermChange($event)"></sb-search>
            </div>
            <div class="flex-shrink-1 bd-highlight">
                <sb-loading-animation type="bars"></sb-loading-animation>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <sb-table [captioned]="false" [headed]="true" [bodied]="true" [footed]="true" [stripped]="true" [hoverable]="true" [bordered]="true">
                    <ng-container header>
                        <tr>
                            <th scope="col" class="col-2 text-center align-middle"></th>                            
                            <th scope="col" class="col-8 text-left align-middle">Name </th>
                            <th scope="col" class="col-2 text-center align-middle">Drill</th>
                        </tr>
                    </ng-container>

                    <ng-container body>

                        <ng-container *ngIf="desired.length > 0; else desiredUnspecified">

                            <ng-container
                                *ngFor="let logicalHierarchy of logicalHierarchiesDataService.logicalHierarchies$ | async">

                                <tr *ngIf="isDesired(logicalHierarchy)">

                                    <td class="text-center align-middle">
                                        <span class="d-flex justify-content-center">

                                            <ng-container *ngIf='selectionMode === "single"; else multi'>
                                                <sb-button action="select" entity="Logical Hierarchy"
                                                    id="{{logicalHierarchy.id}}" name="logicalHierarchy"
                                                    [selected]="isSelected(logicalHierarchy)"
                                                    (select)="onSelect(logicalHierarchy)">
                                                </sb-button>
                                            </ng-container>

                                            <ng-template #multi>
                                                <sb-button action="check" entity="Logical Hierarchy"
                                                    id="{{logicalHierarchy.id}}" name="logicalHierarchy"
                                                    [checked]="isChecked(logicalHierarchy)"
                                                    (check)="onCheck(logicalHierarchy)"
                                                    (uncheck)="onUncheck(logicalHierarchy)">
                                                </sb-button>
                                            </ng-template>

                                        </span>
                                    </td>                                    

                                    <td class="text-left align-middle">
                                        {{logicalHierarchy.data?.responsible?.name}} {{logicalHierarchy.data?.type?.name | lowercase}}
                                    </td>

                                    <td class="text-center align-middle">
                                        <span class="d-flex justify-content-center">

                                            <sb-button action="drillDown" entity="Logical Hierarchy"
                                                id="{{logicalHierarchy.id}}"
                                                (drillDown)="onDrillDown(logicalHierarchy)"
                                                tooltip="Drill down {{logicalHierarchy.data?.responsible?.name}}">
                                            </sb-button>

                                        </span>
                                    </td>                                    


                                </tr>

                            </ng-container>

                        </ng-container>

                        <ng-template #desiredUnspecified>

                            <ng-container *ngIf="undesired.length > 0; else undesiredUnspecified">

                                undesired specified

                                <ng-container
                                    *ngFor="let logicalHierarchy of logicalHierarchiesDataService.logicalHierarchies$ | async">

                                    <tr *ngIf="!isUndesired(logicalHierarchy)">

                                        <td class="text-center align-middle">
                                            <span class="d-flex justify-content-center">

                                                <ng-container *ngIf='selectionMode === "single"; else multi'>
                                                    <sb-button action="select" entity="Logical Hierarchy"
                                                        id="{{logicalHierarchy.id}}"
                                                        name="logicalHierarchy"
                                                        [selected]="isSelected(logicalHierarchy)"
                                                        (select)="onSelect(logicalHierarchy)">
                                                    </sb-button>
                                                </ng-container>

                                                <ng-template #multi>
                                                    <sb-button action="check" entity="Logical Hierarchy"
                                                        id="{{logicalHierarchy.id}}"
                                                        name="logicalHierarchy"
                                                        [checked]="isChecked(logicalHierarchy)"
                                                        (check)="onCheck(logicalHierarchy)"
                                                        (uncheck)="onUncheck(logicalHierarchy)">
                                                    </sb-button>
                                                </ng-template>

                                            </span>
                                        </td>                                         

                                        <td class="text-left align-middle">
                                            {{logicalHierarchy.data?.responsible?.name}} {{logicalHierarchy.data?.type?.name | lowercase}}
                                        </td>

                                        <td class="text-center align-middle">
                                            <span class="d-flex justify-content-center">

                                                <sb-button action="drillDown" entity="Logical Hierarchy"
                                                    id="{{logicalHierarchy.id}}"
                                                    (drillDown)="onDrillDown(logicalHierarchy)"
                                                    tooltip="Drill down {{logicalHierarchy.data?.responsible?.name}}">
                                                </sb-button>

                                            </span>
                                        </td>                                                                               

                                    </tr>

                                </ng-container>

                            </ng-container>

                            <ng-template #undesiredUnspecified>

                                <tr
                                    *ngFor="let logicalHierarchy of logicalHierarchiesDataService.logicalHierarchies$ | async">

                                    <td class="text-center align-middle">
                                        <span class="d-flex justify-content-center">

                                            <ng-container *ngIf='selectionMode === "single"; else multi'>
                                                <sb-button action="select" entity="Logical Hierarchy"
                                                    id="{{logicalHierarchy.id}}" name="logicalHierarchy"
                                                    [selected]="isSelected(logicalHierarchy)"
                                                    (select)="onSelect(logicalHierarchy)">
                                                </sb-button>
                                            </ng-container>

                                            <ng-template #multi>
                                                <sb-button action="check" entity="Logical Hierarchy"
                                                    id="{{logicalHierarchy.id}}" name="logicalHierarchy"
                                                    [checked]="isChecked(logicalHierarchy)"
                                                    (check)="onCheck(logicalHierarchy)"
                                                    (uncheck)="onUncheck(logicalHierarchy)">
                                                </sb-button>
                                            </ng-template>

                                        </span>
                                    </td>                                     

                                    <td class="text-left align-middle">
                                        {{logicalHierarchy.data?.responsible?.name}} {{logicalHierarchy.data?.type?.name | lowercase}}
                                    </td>

                                    <td class="text-center align-middle">
                                        <span class="d-flex justify-content-center">

                                            <sb-button action="drillDown" entity="Logical Hierarchy"
                                                id="{{logicalHierarchy.id}}"
                                                (drillDown)="onDrillDown(logicalHierarchy)"
                                                tooltip="Drill down {{logicalHierarchy.data?.responsible?.name}}">
                                            </sb-button>

                                        </span>
                                    </td>                                     

                                  

                                </tr>

                            </ng-template>

                        </ng-template>

                    </ng-container>
                </sb-table>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <sb-pagination type="modal" (pageChanged)="onPageChange($event)"
                    (pageSizeChanged)="onPageSizeChange($event)">
                </sb-pagination>
            </div>
        </div>

    </form>

</ng-container>

<ng-template #initialising>


    <div class="d-flex justify-content-center m-1">
        <p class="text-center processing mb-5">
            <span>.</span><span>.</span><span>.</span>
        </p>
    </div>

</ng-template>