<ng-container *ngIf="initialised; else initialising">

    <form [formGroup]="dataFormElementsForm">
        <div *ngIf="mode == 'mock'" class="row p-0 m-0">
            <div class="col p-0 m-0">
                <table class="table table-bordered border-dark filter">
                    <tr>
                        <td class="col-1 align-middle text-left">
                            Form
                        </td>
                        <td class="col-11 align-middle">
                            <select class="custom-select" id="dataFormId" formControlName="dataFormId"
                                (change)="onDataFormChange()">
                                <option ngValue="null" disabled>Select Data Form</option>
                                <option *ngFor="let dataForm of dataFormsDataService.dataForms$| async"
                                    [ngValue]="dataForm.id">
                                    {{dataForm.data?.name}}</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="d-flex flex-column bd-highlight mb-0">

            <div class="p-0 bd-highlight">

                <ng-container
                    *ngFor="let dataFormElement of dataFormsElementsDataService.topLevelDataFormElements$ | async">

                    <ng-container
                        *ngIf="dataFormElement.data?.categoryId == 1 && dataFormsFieldsResponsesService.isRelevant(dataFormElement.data?.conditionalRelevancyRule)">
                        <sb-data-forms-groups-records-response-views [dataFormElement]="dataFormElement"
                            [nestedDataFormElements]="getNestedDataFormElements(dataFormElement?.id)" [mode]="mode"
                            [disabled]="disabled">
                        </sb-data-forms-groups-records-response-views>
                        <span class="mt-1 mb-1" style="display: block;"></span>
                    </ng-container>

                    <ng-container
                        *ngIf="dataFormElement.data?.categoryId == 2 && dataFormsFieldsResponsesService.isRelevant(dataFormElement.data.conditionalRelevancyRule)">
                        <sb-data-forms-fields-records-response-views
                            *ngIf="dataFormsFieldsResponsesService.isRelevant(dataFormElement.data.conditionalRelevancyRule)"
                            [dataFormField]="dataFormElement"
                            [mode]="mode" [disabled]="disabled">
                        </sb-data-forms-fields-records-response-views>
                    </ng-container>

                </ng-container>

            </div>
        </div>
    </form>

</ng-container>

<ng-template #initialising>

    <div class="d-flex justify-content-center m-1">
        <p class="text-center processing mb-5">
            <span>.</span><span>.</span><span>.</span>
        </p>
    </div>

</ng-template>