<!-- Display the data form -->
<ng-container *ngIf="initialised; else initialising">

    <form [formGroup]="systemsUsersForm">

        <!-- Name -->
        <div class="d-flex flex-column bd-highlight">
            <div class="bd-highlight">
                <div class="input-group flex-nowrap mb-2">
                    <div class="input-group-prepend pb-0">
                        <label class="input-group-text">Name</label>
                    </div>
                    <input type="text" class="form-control" id="name"
                        [placeholder]="mode == 'administered'? 'Enter the user\'s full name' : 'Enter your full name'"
                        formControlName="name" disabled="true">
                </div>
                <div *ngIf="systemsUsersForm.get('name')?.invalid && (systemsUsersForm.get('name')?.dirty || systemsUsersForm.get('name')?.touched)"
                    class="alert alert-danger mt-3">
                    <div *ngIf="systemsUsersForm.get('name')?.errors.required">
                        {{mode == 'administered'? 'The user\'s full name is required' : 'Your full name is required'}} .
                    </div>
                    <div *ngIf="systemsUsersForm.get('name')?.errors.minlength">
                        {{mode == 'administered'? 'The user\'s full name should be at least 2 characters long' : 'Your
                        full name
                        should be at least 2 characters long'}}.
                    </div>
                    <div *ngIf="systemsUsersForm.get('name')?.errors.maxlength">
                        {{mode == 'administered'? 'The user\'s full name should not be more than 250 characters long' :
                        'Your
                        full name should not be more than 250 characters long'}}.
                    </div>
                </div>
            </div>
        </div>

        <!-- Email -->
        <div class="d-flex flex-column bd-highlight">
            <div class="bd-highlight">
                <div class="input-group flex-nowrap mb-2">
                    <div class="input-group-prepend pb-0">
                        <label class="input-group-text">Email</label>
                    </div>
                    <input type="text" class="form-control" id="email"
                        [placeholder]="mode == 'administered'? 'Enter the user\'s email' : 'Enter your email'"
                        formControlName="email" disabled="true">
                </div>
                <div *ngIf="systemsUsersForm.get('email')?.invalid && (systemsUsersForm.get('email')?.dirty || systemsUsersForm.get('email')?.touched)"
                    class="alert alert-danger mt-3">
                    <div *ngIf="systemsUsersForm.get('email')?.errors.required">
                        {{mode == 'administered'? 'The user\'s email is required' : 'Your email is required'}}.
                    </div>
                    <div *ngIf="systemsUsersForm.get('email')?.errors.email">
                        {{mode == 'administered'? 'The user\'s email is invalid' : 'Your email is invalid'}}
                    </div>
                    <div *ngIf="systemsUsersForm.get('email')?.errors.exists">
                        {{mode == 'administered'? 'The user\'s email is already in use' : 'Your email is already in
                        use'}}.
                    </div>
                    <!-- https://blog.moonmail.io/what-is-the-maximum-length-of-a-valid-email-address-f712c6c4bc93 -->
                    <div *ngIf="systemsUsersForm.get('email')?.errors.maxlength">
                        {{mode == 'administered'? 'The user\'s email should not be more than 320 characters long' :
                        'Your email
                        should not be more than 320 characters long'}}.
                    </div>
                </div>
            </div>
        </div>

        <!-- Password -->
        <div *ngIf="false" class="d-flex flex-column bd-highlight">
            <div class="bd-highlight">
                <div class="input-group flex-nowrap mb-2">
                    <div class="input-group-prepend pb-0">
                        <label class="input-group-text">Password</label>
                    </div>
                    <input type="password" class="form-control" id="password"
                        [placeholder]="mode == 'administered'? 'Enter the user\'s provisional password' : 'Enter your password'"
                        formControlName="password">
                </div>
                <div *ngIf="systemsUsersForm.get('password')?.invalid && (systemsUsersForm.get('password')?.dirty || systemsUsersForm.get('password')?.touched)"
                    class="alert alert-danger mt-3">
                    <div *ngIf="systemsUsersForm.get('password')?.errors.required">
                        {{mode == 'administered'? 'The user\'s provisional password is required' : 'Your password is
                        required'}}.
                    </div>
                    <div *ngIf="systemsUsersForm.get('password')?.errors.minlength">
                        {{mode == 'administered'? 'The user\'s provisional password should be at least 8 characters
                        long' :
                        'Your password should be at least 8 characters long'}}.
                    </div>
                    <div *ngIf="systemsUsersForm.get('password')?.errors.maxlength">
                        {{mode == 'administered'? 'The user\'s provisional password should not be be more than 250
                        characters
                        long' : 'Your password should not be be more than 250 characters long'}}.
                    </div>
                    <div *ngIf="systemsUsersForm.get('password')?.errors.hasNoDigit">
                        {{mode == 'administered'? 'The user\'s provisional password should contain at least one digit' :
                        'Your
                        password should contain at least one digit'}}.
                    </div>
                    <div *ngIf="systemsUsersForm.get('password')?.errors.hasNoLowerCaseLetter">
                        {{mode == 'administered'? 'The user\'s provisional password should contain at least one
                        lowercase
                        letter' : 'Your password should contain at least one lowercase letter'}}.
                    </div>
                    <div *ngIf="systemsUsersForm.get('password')?.errors.hasNoUpperCaseLetter">
                        {{mode == 'administered'? 'The user\'s provisional password should contain at least one
                        uppercase
                        letter' : 'Your password should contain at least one uppercase letter'}}.
                    </div>
                    <div *ngIf="systemsUsersForm.get('password')?.errors.hasNoSpecialCharacter">
                        {{mode == 'administered'? 'The user\'s provisional password should contain at least one special
                        character' : 'Your password should contain at least one special character'}}.
                    </div>
                </div>
            </div>
        </div>


        <!-- Flags -->
        <div class="d-flex flex-column bd-highlight mt-3">

            <!-- Conditionally enable for the current deployment -->
            <div *ngIf="mode == 'administered'" class="bd-highlight p-2">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="enabled" [checked]="isEnabled()"
                        (change)="toggleEnablement($event)">
                    <label class="custom-control-label" for="enabled">Enabled</label>
                </div>
            </div>

            <!-- Conditionally customise permissions for the current deployment -->
            <!-- Fill when user confirms their account -->
            <div *ngIf="false" class="bd-highlight p-2 border-top">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="confirmed" [checked]="isConfirmed()"
                        (change)="toggleConfirmation($event)">
                    <label class="custom-control-label" for="confirmed">Confirmed</label>
                </div>
            </div>
        </div>

    </form>

</ng-container>

<ng-template #initialising>


    <div class="d-flex justify-content-center m-1">
        <p class="text-center processing mb-5">
            <span>.</span><span>.</span><span>.</span>
        </p>
    </div>

</ng-template>