<sb-modal shadow="false">

    <ng-container title>
        {{title}}
    </ng-container>

    <ng-container body>

        <sb-administrativeUnitsTypes-records-selection [selectionMode]="selectionMode" [desired]="desired" [undesired]="undesired"
        [selected]="selected" (select)="onSelect($event)" (check)="onCheck($event)" (uncheck)="onUncheck($event)">
    </sb-administrativeUnitsTypes-records-selection>

    </ng-container>

    <ng-container footer>

        <sb-button action="done" entity="Administrative Unit Type" tooltip="Close Selector" guarded="false"
            (done)="onDone()"></sb-button>

    </ng-container>

</sb-modal>